/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key

Homestead.yaml
Homestead.json
/.vagrant

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

get_data/data
.env.backup
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
wneo_data.data
data/*.data
laravel.log
out_*.txt

.env
